<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Vue example</title>
  <meta name="description" content="Vue example">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }
  </style>
</head>

<body>
  <div id="app">
    <p class="bg-success" v-if="isFormSubmited">Success</p>
    <p class="bg-info" v-if="isFormSubmited == false">Current params: {{paramsInfo}}</p>
    <form v-on:submit.prevent="AddControl">
      <template v-for="(checkbox, index) in checkboxes">
          <text-box :item="checkbox" v-on:remove="RemoveControl(index)" :index="index"></text-box>
      </template>
      <a class="btn btn-primary" @click="AddControl">Add</a>
      <div class="form-group">
        <label>SmartComboBox</label>
        <smart-combo-box v-model="selectValues" :options="options" :multiple="true" :searchable="true"></smart-combo-box>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success" @click="SubmitForm">Submit</button>
        <button type="button" class="btn btn-danger" @click="ResetForm">Reset</button>
        <button type="button" class="btn btn-danger" @click="ResetCheckboxes">Reset Checkboxes</button>
        <button type="button" class="btn btn-warning" @click="AjaxRequestHideAllCheckboxes">Ajax request: hide all checkboxes</button>
        <button type="button" class="btn btn-warning" @click="AjaxRequestAddNewNetopesTextBox">Ajax request: add new Netopes type component</button>
        <button type="button" class="btn btn-warning" @click="AjaxRequestOpenModal">Ajax request: open modal</button>
      </div>
    </form>
    <jquery-modal :settings="modal"></jquery-modal>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
  <!-- Latest compiled and minified JavaScript -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
  <script>
    Vue.config.devtools = true;

    Vue.component('text-box', {
      props: ['item', 'index'],
      data: function () {
        return {}
      },
      computed: {
        isRequired: function () {
          return {
            'required': this.item.required == true
          }
        }
      },
      template: `
        <div class="form-inline" :class="isRequired">
          <label :for="'input-name-' + index" class="control-label">Textbox {{index + 1}}</label>
          <input type="text" class="form-control" :name="item.name" :value="item.value" :id="'input-name-' + index" v-model="item.value" />
          <a class="btn btn-danger" @click="$emit('remove')">remove</a>
        </div>
      `
    });

    Vue.component('jquery-modal', {
      props: ['settings'],
      data: function () {
        return {}
      },
      watch: {
        'settings.show': function (show) {
          if (show == true) {
            $('#myModal').modal('show');
          } else {
            $('#myModal').modal('hide');
          }
        }
      },
      template: `<!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" @click="settings.show = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{settings.title}}</h4>
                </div>
                <div class="modal-body">
                  {{settings.content}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" @click="settings.show = false">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>`
    });

    Vue.component('smart-combo-box', window.VueMultiselect.default)

    var vm = new Vue({
      el: '#app',
      data: function () {
        return {
          checkboxes: [
            { required: true, name:'form[]', value: 1 },
            { required: false, name:'form[]', value: 2 },
            { required: true, name:'form[]', value: 3 },
          ],
          isFormSubmited: false,
          selectValues:[],
          options: ['item-1', 'item-2', 'item-3'],
          modal: {
            title: '',
            content: '',
            show: false
          }
        }
      },
      computed: {
        paramsInfo: function () {
          let params = '';
          params = this.checkboxes.map(function(item){
              return "'form[]'|'" + item.value +"'";
          }).join('~');
          params += '~' + this.selectValues.map(function(value){
              return "'selectedValues[]'|'" + value +"'";
          }).join('~');

          return params;
        }
      },
      methods: {
        AddControl: function () {
          this.checkboxes.push(
            { required: true, name:'form[]', value: 0 }
          );
        },
        RemoveControl: function(index) {
          this.checkboxes.splice(index, 1);
        },
        SubmitForm: function () {
          this.isFormSubmited = true;
        },
        ResetForm: function () {
          this.checkboxes = [];
          this.selectValues = [];
          this.isFormSubmited = false;
        },
        ResetCheckboxes: function () {
          this.checkboxes = [];
        },
        AjaxRequestHideAllCheckboxes: function () {
          // Imagine a request done via axios/whateverlibrary and the response is below.
          let requestResult = JSON.parse('[{"checkboxes": []}]');
          this.checkboxes = requestResult[0].checkboxes;
        },
        AjaxRequestAddNewNetopesTextBox: function () {
          let requestResult = JSON.parse('[{"components": [{"type": "TextBox", "required": "true", "name": "form[]", "value": "SomeAjaxValue"}]}]');
          // Some logic to determine the component type.
          this.checkboxes.push({
            required: requestResult[0].components[0].required,
            name:requestResult[0].components[0].name,
            value: requestResult[0].components[0].value
          });
        },
        AjaxRequestOpenModal: function () {
          // Imagine a request done via axios/whateverlibrary and the response is below.
          let requestResult = JSON.parse('[{"show": true, "content": "Some ajax content for modal", "title": "Hello World!"}]');
          this.modal.show = requestResult[0].show;
          this.modal.title = requestResult[0].title;
          this.modal.content = requestResult[0].content;
        }
      }
    });
  </script>
</body>
</html>